/* Naviagtion Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px;
    background-color: #75983C;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Footer */

footer {
    background-color: #75983C;
    text-align: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

/* Index class */
#main-photo {
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 657px;
}

#heading {
    padding: 14% 28% 1% 28%;
    text-align: center;
    color: rgb(253, 251, 251);
    font-size: 5rem;
    text-shadow: 2px 2px 5px #294103;
}

#slogan {
    padding: 0% 28%;
    color: rgb(253, 251, 251);
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

#who {
    background-color: #75983C;
    color: white;
    padding: 15% 10% 10% 10%;
}

#us {
    padding: 10%;
}

#clients {
    padding: 10% 38% 2%;
}

.d-block {
    width: 100%;
}

#mycarousel {
    padding-bottom: 10%;
}

/* products class */
#category {
    margin-top: 8%;
    text-align: center;
}

#choose {
    margin-top: 2%;
    text-align: center;
}

#vegetable {
    background-image: url(../img/vegetable.jpg);
    background-size: cover;
    height: 500px;
    margin: 5% 10%;
}

#fruit {
    background-image: url(../img/fruit.jpg);
    background-size: cover;
    height: 500px;
    margin: 5%;
}

#dairy {
    background-image: url(../img/dairy.jpg);
    background-size: cover;
    height: 500px;
    margin: 5% 10%;
}

#bread {
    background-image: url(../img/bread.jpg);
    background-size: cover;
    height: 500px;
    margin: 5%;
}

h4 a {
    padding: 0% 32%;
    background-color: rgb(66, 66, 66);
    opacity: .5;
    color: white;
    text-shadow: 2px 2px 5px #000000;
}

/* delivery class */
#order {
    padding: 5% 0% 2%;
}

form {
    width: 75%;
}

#butoni {
    padding: 5% 2% 2%;
}


/* Media queries */

/* Mobile */
@media screen and (min-width: 321px) and (max-width: 425px) {

    /* Naviagtion Bar */
    li a {
        display: block;
        text-align: center;
        padding: 5px;
        background-color: #75983C;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    /* Index class */
    #heading {
        padding: 40% 20% 10% 20%;
        text-align: center;
        color: rgb(253, 251, 251);
        font-size: 3rem;
        text-shadow: 2px 2px 5px #294103;
    }

    #about {
        margin-left: 0px;
    }

    #clients {
        padding: 10% 20% 2%;
    }

    /* products class */
    #category {
        margin-top: 8%;
        margin-left: 5%;
        text-align: center;
    }

    #choose {
        margin-top: 2%;
        margin-left: 5%;
        text-align: center;
    }

    #vegetable {
        background-image: url(../img/vegetable.jpg);
        background-size: cover;
        width: 95%;
        height: 300px;
        margin: 5%;
    }

    #fruit {
        background-image: url(../img/fruit.jpg);
        background-size: cover;
        width: 95%;
        height: 300px;
        margin: 5%;
    }

    #dairy {
        background-image: url(../img/dairy.jpg);
        background-size: cover;
        width: 95%;
        height: 300px;
        margin: 5%;
    }

    #bread {
        background-image: url(../img/bread.jpg);
        background-size: cover;
        width: 95%;
        height: 300px;
        margin: 5%;
    }

    h4 a {
        padding: 0%;
        width: 100%;
        background-color: rgb(66, 66, 66);
        opacity: .5;
        color: white;
        text-shadow: 2px 2px 5px #000000;
    }

    /* delivery class */
    #order {
        padding: 5% 0% 2%;
    }

    form {
        width: 75%;
    }

    #butoni {
        padding: 5% 2% 2%;
    }

}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
    /* Index class */

    #heading {
        padding: 20% 20% 10% 20%;
        text-align: center;
        color: rgb(253, 251, 251);
        font-size: 4rem;
        text-shadow: 2px 2px 5px #294103;
    }

    #about {
        margin-left: 0px;
    }

    #clients {
        padding: 10% 20% 2%;
    }

    /* products class */
    #category {
        margin-top: 8%;
        margin-left: 5%;
        text-align: center;
    }

    #choose {
        margin-top: 2%;
        margin-left: 5%;
        text-align: center;
    }

    #vegetable {
        background-image: url(../img/vegetable.jpg);
        background-size: cover;
        width: 90%;
        height: 400px;
        margin: 5%;
    }

    #fruit {
        background-image: url(../img/fruit.jpg);
        background-size: cover;
        width: 90%;
        height: 400px;
        margin: 5%;
    }

    #dairy {
        background-image: url(../img/dairy.jpg);
        background-size: cover;
        width: 90%;
        height: 400px;
        margin: 5%;
    }

    #bread {
        background-image: url(../img/bread.jpg);
        background-size: cover;
        width: 90%;
        height: 400px;
        margin: 5%;
    }

    h4 a {
        padding: 0% 20%;
        background-color: rgb(66, 66, 66);
        opacity: .5;
        color: white;
        text-shadow: 2px 2px 5px #000000;
    }

    /* delivery class */
    #order {
        padding: 5% 0% 2%;
    }

    form {
        width: 75%;
    }

    #butoni {
        padding: 5% 2% 2%;
    }

}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* the code above media queries */
}